{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}" role="button">Get Started</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
        <h1 class="h1">Main topics</h1>
      <div class="col-lg-5">
        <h2 class="h4"><a href="/docs/uem">Workspace ONE UEM</a></h2>
        <p>Enterprise Mobile Management with <a href="https://vmware.com/go/wone">WS1 UEM</a>.</p> 
      </div>
      <div class="col-lg-5">
        <h2 class="h4"><a href="/docs/access">Workspace ONE Access</a></h2>
        <p>Corporate portal with multifactor authentication <a href="https://vmware.com/go/waccess">WS1 Access</a>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4"><a href="/docs/horizon">Horizon</a></h2>
        <p>VDI infrastructure management with <a href="https://vmware.com/go/horizon">Horizon</a>.</p> 
      </div>
    </div>
  </div>
</section>
{{ end }}
